@font-face {
  font-family: samsungFont;
  src: url(/content/dam/samsung/tw/campaign/2021-galaxy-spr-promotion/font/samsung_s_sharp_by_629lyric-d8y77l9.ttf);
}

@font-face {
  font-family: DFHeiStd-W9;
  src: url(/content/dam/samsung/tw/campaign/2021-galaxy-spr-promotion/font/DFHeiStd-W9.otf);
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  width: 100%;
  display: block
}

._m {
  display: none
}

ol, ul {
  list-style: none
}

body, html {
  width: 100%;
  font-family: samsungFont, "微軟正黑體", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "新細明體";
  /* background-color: #ece0ee; */
  overflow-x: hidden
}

html {
  -webkit-text-size-adjust: 100%
}

.wrapper {
  width: 100%;
  position: relative;
  background-color: #cfb2e0;
}

.sec {
  width: 100%;
  position: relative
}

.container {
  width: 80%;
  max-width: 1260px;
  margin: auto;
  position: relative;
  padding: 0
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.fixgoBtn {
  width: 5vw;
  position: fixed;
  right: 3%;
  top: 27%;
  z-index: 9;
  cursor: pointer;
}

.figure {
  position: relative;
  width: 380px;
  max-width: 100%;
}

.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
}

.figure:hover img.image-hover {
  opacity: 1;
}

.sec .btnbox .bt1 {
  width: 35%;
}

.sec .btnbox .bt2 {
  width: 52%;
  height: 50px;
  margin: 0 1%;
}

.sec .btnbox .bt3 {
  width: 40%;
  height: 50px;
  margin: 0% 1% 0% 1%;
}

.sec .btnbox .bt4 {
  width: 70%;
  height: 50px;
  margin: 0 15% 0% 15%;
}

.sec .txt {
  padding-top: 4%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SamsungOne", arial, "微軟正黑體", sans-serif;
  color: #503200;
  font-weight: bold;
  justify-content: center;
}

.sec .txt a {
  color: #55006c;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #55006c;
  text-decoration: none;
}

.sec1 {
  padding-top: 0px
}

.sec1 .promotion img {
  position: absolute;
  width: 28%;
  bottom: 18%;
  left: 13%;
  animation: crescendo 1.5s alternate infinite ease-in;
}

@keyframes crescendo {
  0% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1.05);
  }
}

.sec1 .maintitle {
  position: relative;
  width: 100%
}

.sec2 {
  position: relative;
  margin-top: 7%;
  margin-bottom: 1%;
  z-index: 1;
}

.sec2 .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sec2 .title-line {
  border-top: solid 0.2em #7b4196;
  height: 2px;
  flex: 14%;
  margin: -1%;
}

.sec2 .title-line:nth-child(1) {
  margin-left: 2%;
}

.sec2 .title-line:nth-child(3) {
  margin-right: 2%;
}

.sec2 .container .sec2-title{
  font-family: DFHeiStd-W9;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #7b4196;
  width: 30%;
}

.sec2 .container .sec2-title img{
  width: 110%;
}

.sec2 .phone {
  flex: 0 0 33%;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2 .btnbox {
  position: absolute;
}

#product-1 {
  flex: 34.5%;
}

#product-1 .figure {
  left: 220px;
  top: 20px;
}

#product-2 {
  flex: 31.3%;
}

#product-2 .figure {
  left: 200px;
  top: 20px;
}

#product-3 {
  flex: 34.2%;
}

#product-3 .figure {
  left: 220px;
  top: 20px;
}

#product-4 {
  flex: 37%;
}

#product-4 .figure {
  left: 0px;
  top: 40px;
}

#product-5 {
  flex: 34.6%;
}

#product-5 .figure {
  left: 15px;
  top: 40px;
}

#product-6 {
  flex: 28.4%;
}

#product-6 .figure {
  left: 45px;
  top: 35px;
}

.sec3 {
  position: relative;
  margin-top: 5%;
}

.sec3 .page {
  position: relative;
}

.sec3 .pic-box1 {
  width: 78%;
  margin-left: 12%;
}

.sec3 .pic-box1 img {
  margin-top: 4%;
}

.sec3-item1 {
  width: 100%;
  margin-left: 7%;
  z-index: 1;
}

.sec3-item1 img {
  width: 45%;
}

.sec3-item2 {
  width: 48%;
  z-index: 1;
}

.sec3-item3 {
  position: relative;
  width: 48%;
  z-index: 0;
  left: -2%;
}

.sec3 .page .phone {
  position: relative;
  float: right;
  width: 100%;
}

.sec3 .page .phone {
  position: relative;
  float: right;
  width: 100%;
}

.sec3 .page .phone .bg {
  position: absolute;
  top: -36%;
  left: -10%;
  width: 170%;
}

.sec3 .page .phone .tphone {
  position: relative;
  bottom: 50px;
  /* margin-left: 10%; */
  width: 120%;
}

.sec3 .page .maintitle .btnbox {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
}

.sec3{
  z-index: 9;
}

.sec4 {
  margin-top: 6%;
  z-index: 0;
}

.sec4 .page {
  position: relative;
}

.sec4-item1 {
  width: 100%;
  /* margin-left: 0%; */
  z-index: 1;
}

.sec4-item2 {
  margin-top: 3%;
  width: 48%;
}

.sec4-item3 {
  margin-top: 5%;
  width: 52%;
}

.sec4-item1 img {
  width: 35%;
  z-index: 1;
}

.sec4 .page .phone {
  position: relative;
  float: left;
  left: -3%;
  width: 100%;
}

.sec4 .page .phone .bg {
  z-index: 0;
  position: absolute;
  top: -63%;
  left: -49%;
  width: 165%;
}

.sec4 .page .phone .tphone {
  position: relative;
  top: 35px;
  margin-left: 10%;
  width: 70%;
}

.sec4 .maintitle {
  width: 100%;
}

.sec4 .page .maintitle .btnbox {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

.sec4 .btnbox .bt2{
  width: 58%;
}

.sec4-item3-picture img{
  margin-left: -20px;
}

.sec5 {
  position: relative;
  margin-top: 13%
}

.sec5-item1 {
  width: 100%;
  z-index: 1;
}

.sec5-item2 {
  width: 51%;
  z-index: 1;
}

.sec5-item3 {
  width: 49%;
  z-index: 0;
}

.sec5 .page {
  position: relative;
}

.sec5-item1 img {
  width: 42%;
  margin-left: 11%;
}

.sec5 .page .maintitle {
  position: relative;
  width: 80%;
  margin-left: 20%;
  margin-top: 6%;
}

.sec5 .page .maintitle .bg {
  position: relative;
  width: 100%;
}

.sec5 .page .maintitle .bg .btnbox {
  width: 60%;
  margin-left: 20%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.sec5 .page .phone {
  position: relative;
  float: left;
  left: -3%;
  width: 100%;
}

.sec5 .page .phone .bg {
  position: absolute;
  top: -40%;
  left: -150%;
  width: 300%;
}

.sec5 .page .phone .tphone {
  position: relative;
  bottom: 50px;
  margin-top: 19%;
  margin-left: 20%;
  width: 90%;
}

.sec6 {
  z-index: 0;
  margin-top: 10%;
  position: relative;
}

.sec6-2 {
  z-index: 9;
  margin-bottom: 8%;
  margin-top: -5%;
}

.sec6 .page, .sec6-2 .page {
  position: relative;
}

.sec6 .sec6-item1 {
  margin-left: 3%;
  width: 100%;
  z-index: 1;
}

.sec6-2 .sec6-item1 {
  width: 67%;
  margin-left: 3%;
  z-index: 1;
}

.sec6 .sec6-item1 img {
  width: 40%;
  margin-left: 8.5%;
  margin-bottom: 2%;
}

.sec6-2 .sec6-item1 img{
  width: 36%;
  z-index: 1;
}

.sec6 .sec6-item2 {
  margin-top: 2%;
  width: 72%;
  margin-right: -10%;
}

.sec6-2 .sec6-item2 {
  margin-top: 9%;
  margin-left: -6%;
  width: 68%;
}

.sec6-item3 {
  margin-top: 3%;
  width: 41%;
  margin-left: -4%;
  z-index: 0;
}

.sec6-2 .sec6-item3 {
  margin-top: 10%;
  margin-left: 1%;
  width: 33%;
  z-index: 1;
}

.sec6 .page .phone {
  position: relative;
  float: left;
  left: -7%;
  width: 100%;
}

.sec6-2 .btnbox .bt3{
  width: 50%;
}

.sec6-2 .page .phone {
  position: relative;
  float: left;
  left: -3%;
  width: 100%;
}

.sec6 .page .phone .bg {
  position: absolute;
  top: -48%;
  left: -7%;
  width: 87%;
}

.sec6 .page .phone .tphone {
  position: relative;
  width: 100%;
}

.sec6-2 .page .phone .bg {
  position: absolute;
  top: -30%;
  left: -8%;
  width: 125%;
}

.sec6-2 .page .phone .tphone {
  position: relative;
  bottom: 50px;
  margin-left: 12%;
  width: 100%;
}

.sec6 .page .maintitle, .sec6-2 .page .maintitle {
  position: relative;
  width: 100%
}

.sec6 .page .maintitle .btnbox {
  width: 80%;
  margin: 5% 10% 2% 10%;
  display: flex;
  justify-content: center;
}

.sec6-2 .page .maintitle .btnbox {
  width: 80%;
  margin: 10%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.sec6 .page .maintitle .btnbox, .sec6-2 .page .maintitle .btnbox {
  width: auto
}

.sec6 .txt {
  margin-bottom: 120px;
}

.sec7 {
  position: relative;
  margin-bottom: 4%;
  margin-top: 5%;
}

.sec7 .container {
  width: 100%;
}

.sec7 .title {
  width: 30%;
  border: #fd1ffe 4px solid;
  border-radius: 40px;
  padding: 2px;
  padding-top: 4px;
  text-align: center;
  background-color: #55006c;
  color: white;
  font-size: 34px;
  font-weight: 420;
  margin: auto;
  margin-bottom: 35px;
  letter-spacing: 3px;
}

.sec7 .flex-center {
  display: flex;
  justify-content: center;
}

.sec7 .arrow-right img, .arrow-left img {
  width: 250%;
  margin: 0%;
}

.sec7 .carousel-indicators li {
  background-color: gray;
}

.sec7 .carousel-indicators .active {
  background-color: black;
}

.sec7 iframe {
  width: 900px;
  height: 400px;
}

.sec7 .arrow-right img{
  position: absolute;
  right: -50%;
  top: 150px;
}

.sec7 .arrow-left img{
  position: absolute;
  left: -50%;
  top: 150px;
}

.sec7 .carousel-caption {
  bottom: -70px;
}

.sec7 .carousel-inner {
  padding-bottom: 70px;
}

.sec7 .carousel-inner h3 {
  font-size: 1.4rem;
  color: #000;
}

.sec7 .carousel-indicators {
  bottom: 90px;
}

.sec8 {
  position: relative
}

.sec8 .container {
  width: 74%;
}

.sec8 .title {
  border: #fd1ffe 4px solid;
  width: 30%;
  border-radius: 30px;
  padding: 2px;
  padding-top: 4px;
  text-align: center;
  background-color: #55006c;
  color: white;
  font-size: 34px;
  font-weight: 420;
  margin: auto;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.sec8 .page {
  border-radius: 20px;
  position: relative;
  padding: 0% 5% 2% 5%;
}

.sec8 .page .bg {
  position: absolute;
  left: -45%;
  top: 10%;
  width: 75%;
}

.sec8 .box {
  /* border: 2px solid yellow; */
  border-radius: 20px;
  width: 30%;
  padding: 5%;
  margin: 1.66%;
  background-color: white;
}

.sec8 .page .box_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 5%;
}

.sec8 .page .box_group .box .btnbox {
  margin-top: 7%;
  margin-bottom: 10%;
}

.sec8 .page .box_group .box.box1 img {
  width: 100%;
}

.sec8 .page .box_group .box.box2 img {
  width: 100%;
}

.sec8 .page .box_group .box.box3 img {
  width: 100%;
}

.carousel-control-next {
  right: -10%;
  width: 4%;
}

.sec8 .carousel-control-next {
  right: -6%;
  width: 10%;
}

.carousel-control-prev {
  left: -10%;
  width: 4%;
}

.sec8 .carousel-control-prev {
  left: -6%;
  width: 10%;
}

.sec9 {
  margin-top: 5%
}

.sec9 .title {
  border: #fd1ffe 4px solid;
  margin-left: 35%;
  width: 30%;
  border-radius: 40px;
  padding: 2px;
  padding-top: 4px;
  text-align: center;
  background-color: #55006c;
  color: white;
  font-size: 34px;
  font-weight: 420;
  letter-spacing: 3px;
  z-index: 2;
  top: -33px;
  margin-bottom: 13px;
}

.se9-line {
  position: absolute;
  border: 1px solid #7b4196;
  background-color: #7b4196;
  width: 0%;
  height: 65%;
  margin-top: 10%;
}

.sec9 .container {
  width: 80%;
}

.sec9-tag {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.sec9-tag a {
  color: black;
  border-bottom: 2px solid black;
  text-decoration: none;
  margin-top: 15px
}


.sec9 .flexBlock .store {
  padding: 0 1%;
}

.sec9-mt-3 {
  margin-top: 80px;
}

.sec9 .flexBlock .store .storeimg {
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.sec9 .flexBlock .store .cont {
  position: relative;
  padding: 20px 40px 20px 40px;
  border-radius: 0 0 40px 40px
}

.sec9 .flexBlock .store .cont li, .sec9 .flexBlock .store .cont p {
  line-height: 1.4;
}

.sec9 .flexBlock .store .cont p {
  margin: auto;
  padding: 0 10%;
  font-size: 15px;
  text-align: justify;
  font-weight: 800;
}

.sec9 .flexBlock .store .cont .stitle {
  font-weight: bold;
  font-size: 1.2em;
}

.sec9 .flexBlock .store .cont ul {
  padding-left: 13%
}

.sec9 .flexBlock .store .cont li {
  font-size: 14px;
  list-style: decimal outside
}

.sec9 .flexBlock .store .cont ol li {
  list-style: disc
}

.sec9 .flexBlock .store .cont small {
  font-size: 15px;
  padding-left: 13%;
  font-weight: bold
}

.sec9-container{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.sec9 .flexBlock .store .cont .btnbox {
  position: absolute;
  width: 15%;
  bottom: -30px;
  padding-top: 0%;
}

.sec9 .txt {
  width: 100%;
  color: #503200;
  font-family: SamsungOne, arial, "微軟正黑體", sans-serif
}

.sec9 .txt a {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border: none;
  margin-bottom: 5%;
}

.sec9 .txt span {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #503200;
  font-weight: bold;
  border-bottom: 2px solid #503200;
  letter-spacing: 1.5px;
  margin: 0 auto
}

.sec9 .flexBlock .store .cont {
  padding: 10px;
}

.sec9 .bg {
  position: absolute;
  /* right: 100%; */
  top: 67%;
  right: -15%;
  width: 56%;
}

.sec9-png1, .sec9-png2{
  display: block;
  margin-bottom: 20px;
  /* width: 100%; */
}

.sec10 {
  position: relative;
  padding-bottom: 10%;
}

.sec10 .container {
  max-width: 1200px
}

.sec10 .title {
  border: #fd1ffe 4px solid;
  width: 30%;
  border-radius: 30px;
  padding: 6px;
  padding-top: 10px;
  text-align: center;
  background-color: #55006c;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 1vw;
}

.sec10 .txt {
  padding-top: 2%;
}

.sec10 .txt a {
  border-bottom: 2px solid #8b56a3;
}

.sec10 .content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.sec10 .content p {
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  line-height: 1.4;
}

@media screen and (max-width:1200px) {
  .sec {
    margin-bottom: 5%;
  }
  .fixgoBtn {
    right: 4vw;
    width: 8vw;
    bottom: 60%;
    top: 34%;
  }
  .sec1 .promotion img {
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: 7%;
  }
  .sec2 .container .sec2-title{
    width: 45%;
  }
  .sec2 .phone {
    flex: 0 0 50%;
    margin: 0px;
    padding: 20px;
  }
  .sec .btnbox .bt1{
    width: 38%;
  }
  #product-1 {
    padding-top: 40px;
    flex: 51.5%;
  }
  #product-1 .figure{
    top: 15px;
    left: 220px;
  }
  #product-2 {
    padding-top: 40px;
    flex: 48.5%;
  }
  #product-2 .figure{
    left: 210px;
  }
  #product-3 {
    padding-top: 40px;
    flex: 46%;
  }
  #product-3 .figure {
    left: 205px;
  }
  #product-4 {
    flex: 54%;
  }
  #product-4 .figure {
    top: 30px;
    left: 5px;
  }
  #product-5 {
    padding-top: 30px;
    flex: 55%;
  }
  #product-5 .figure {
    top: 35px;
    left: 0px;
  }
  #product-6 {
    padding-top: 38px;
    flex: 45%;
  }
  #product-6 .figure {
    top: 30px;
    left: 40px;
  }
  .sec3 {
    margin-top: 8%;
  }
  .sec3 .flex {
    flex-direction: column;
  }
  .sec3-item1, .sec3-item2 {
    width: 100%;
  }
  .sec3-order1 {
    order: 1;
  }
  .sec3-order2 {
    order: 3;
  }
  .sec3-order3 {
    order: 2;
  }
  .sec3-item1 img {
    width: 61%;
    margin-left: -5%;
  }
  .sec3-item3 {
    width: 76%;
  }
  .sec3 .pic-box1 {
    width: 100%;
    margin-left: 0;
  }
  .sec3 .page .phone .bg {
    width: 170%;
    top: -20%;
    left: 0%;
  }
  .sec .txt{
    margin-top: 14px;
  }
  .sec3 .page .phone .tphone {
    /* width: 100%; */
    margin-left: 10%;
    bottom: -30px;
  }
  .sec3 .page .maintitle .pic-box1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sec3 .page .maintitle .btnbox {
    width: 44%;
    margin-left: 28%;
    margin-top: 2%;
  }
  .sec3 .pic-box1 .pic-left{
    width: 40%;
  }
  .sec3 .pic-box1 .pic-left img {
    margin-top: 9%;
    margin-right: 4%;
  }
  .sec3 .pic-box1 .pic-right{
    width: 43%;
  }
  .sec3 .pic-box1 .pic-right img {
    margin-left: 4%;
  }
  .sec3 .pic-box1 img{
    margin-top: 6%;
  }
  .sec4 {
    margin-top: 15.8%;
    z-index: 9;
  }
  .sec4 .flex {
    flex-direction: column;
  }
  .sec4 .page .maintitle .btnbox{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 28%;
    width: 44%;
  }
  .sec4-item1 img {
    /* margin-left: -4%; */
    width: 55%;
  }
  .sec4 .page .phone .tphone{
    width: 49%;
    margin: 5% 50% 8% 35%;
  }
  .sec4-item2 {
    width: 100%;
    margin-left: -5%;
  }
  .sec4-item3-picture img{
    margin: 0;
  }
  .sec4-item3 {
    width: 98%;
    /* margin-left: 5%; */
    margin-top: -6%;
  }
  .sec4 .page .phone .bg{
    width: 111%;
    top: -40%;
    left: -3%;
  }
  .sec5-item1 img {
    width: 72%;
    margin-left: 2%;
  }
  .sec5-item2 {
    width: 80%;
    margin: 10%;
    margin-top: -25%;
  }
  .sec5-item3 {
    width: 70%;
    margin: 15%;
    margin-bottom: 0%;
  }
  .sec5 .page .phone .tphone {
    width: 96%;
    margin: 15%;
    margin-left: 15%;
  }
  .sec5-order1 {
    order: 1;
  }
  .sec5-order2 {
    order: 3;
  }
  .sec5-order3 {
    order: 2;
  }
  .sec5 .page .maintitle {
    width: 100%;
    margin-left: 0%;
  }
  .sec5 .page .maintitle .bg .txt {
    margin-top: 15px;
  }
  .sec5 .page .phone .bg {
    top: -30%;
    left: -70%;
    width: 220%;
  }
  .sec6 .flex , .sec6-2 .flex{
    flex-direction: column;
  }
  .sec6 .sec6-item1 {
    width: 62%;
    margin-left: 35%;
    margin-right: 0%;
  }
  .sec6 .sec6-item1 img {
        width: 88%;
        margin-left: 2%;
    }
    
 .sec6-2 .sec6-item1 {
    width: 50%;
    margin-left: 0%;
    margin-right: 10%;
  }
  .sec6-2 .sec6-item1 img {
        width: 78%;
        margin-left: 2%;
    }
  .sec6 .sec6-item2 {
    width: 70%;
    margin-left: 7%;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .sec6-2 .sec6-item2 {
    width: 100%;
    margin-left: 0%;
    margin-top: 15%;
    margin-bottom: -5%;
  }
  .sec6-order1 {
    order: 2;
  }
  .sec6-order2 {
    order: 1;
  }
  .sec6 .page .phone .bg {
    left: -10%;
    top: -50%;
    width: 135%;
    display: block;
  }
  .sec6-2 .page .phone .bg {
    left: -11%;
    top: -29%;
    width: 130%;
    display: block;
  }
  .sec6-2 .page .phone .tphone{
    width: 104%;
    margin-left: 10%;
  }
  .sec6 .sec6-item3 {
    width: 70%;
    margin-left: 15%;
  }
  .sec6-2 .sec6-item3 {
    width: 55%;
    margin-left: 24%;
    margin-bottom: 12%;
  }
  .sec6 .page .phone .tphone {
    width: 150%;
    margin: 0;
  }
  .sec6 .page .maintitle .btnbox {
    margin-top: 6%;
    margin-bottom: 5%;
  }
  .sec6 .sec6-item1 img {
    width: 90%;
    margin-left: -10%;
    margin-bottom: 5%;
  }
  .sec6 .page .maintitle {
    margin-top: -15%;
  }
  .sec6-2 .page .maintitle {
    margin-top: -15%;
  }
  .sec7{
    margin-top: -6%;
  }
  .sec7 .title, .sec8 .title, .sec9 .title {
    font-size: 20px;
  }
  .sec7 .carousel-caption {
    bottom: -65px;
  }
  .sec7 .carousel-inner {
    padding-bottom: 60px;
  }
  .sec7 .carousel-inner h3 {
    font-size: 1rem;
  }
  .sec7 .carousel-indicators {
    bottom: 80px;
  }
  .sec8 .title {
    margin-bottom: 10px;
  }
  .sec8 .box {
    padding: 2%;
  }
  .sec8 .page .box_group{
    width: 100%;
    margin: 0;
  }
  .sec8 .page .box_group .box .btnbox {
    margin-bottom: 0;
  }
  .sec8 .carousel-control-next{
    right: -10%;
  }
  .sec8 .carousel-control-prev{
    left: -10%;
  }
  .sec9 .container {
    width: 78%;
  }
  .sec9 .title {
    top: -20px;
  }
  .sec7 iframe {
    width: 540px;
    height: 270px;
  }
  .sec7 .arrow-right {
    top: 120px;
  }
  .sec7 .arrow-left {
    top: 120px;
  }
  .se9-line {
    border: 1px solid #7b4196;
  }
  .sec9 .flexBlock .store .storeimg {
    margin-top: 60px;
  }
  .sec9 .flexBlock .store .cont .btnbox {
    width: 25%;
    bottom: -35px;
  }
  .sec9 .flexBlock .store .cont li {
    font-size: 12px;
  }
  .sec10 .title {
    font-size: 18px;
    width: 40%;
  }
  .sec10 .content{
    margin: 2%;
  }
}

@media screen and (max-width:960px) {
  .sec3 .page .maintitle .pic-box1 {
    width: 94%;
    margin-left: 3%;
  }
  .sec .btnbox .bt1{
    width: 28%;
  }
  #product-1 .figure{
    left: 210px;
  }
  #product-2 .figure{
    left: 200px;
  }
  #product-3 .figure{
    left: 195px;
  }
  #product-4 .figure{
    left: 55px;
  }
  #product-5 .figure{
    left: 50px;
  }
  #product-6 .figure{
    left: 80px;
  }
  .sec3 .pic-box1 .pic-left{
    width: 45%;
  }
  .sec3 .pic-box1 .pic-right{
    width: 48%;
  }
}

@media screen and (max-width:767px) {
  ._m {
    display: block
  }
  ._pc {
    display: none
  }
  .fixgoBtn {
    right: 8px;
    width: 10vw;
    top: 28%;
  }
  .sec {
    margin-bottom: 15%;
  }
  .sec .btnbox .bt1 {
    width: 100px;
    height: 40px;
    margin: 0 10px
  }
  .sec .btnbox .bt2 {
    width: 45%;
    height: 50px;
    margin: 0 10px
  }
  .sec .txt a {
    text-align: center;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #503200
  }
  .sec1 .promotion img {
    position: absolute;
    width: 72%;
    left: 14%;
    bottom: 8%;
  }
  /* sec2-start */
  .sec2 .container .sec2-title{
    width: 65%;
  }
  .sec2 .container .sec2-title p {
    font-size: 5vw;
  }
  .sec2 .title-line {
    flex: 5%;
  }
  .sec2 .phone {
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
    width: 70%;
  }
  .sec2 .flex {
    display: flex;
    flex-direction: column;
  }
  #product-1 {
    flex: 70%;
  }
  #product-1 .figure {
    left: 70px;
    top: 23px;
  }
  #product-2 {
    padding-top: 0px;
    flex: 70%;
    margin-left: 30%;
  }
  #product-2 .figure {
    left: -65px;
    top: 32px;
  }
  #product-3 {
    padding-top: 0px;
    flex: 70%;
  }
  #product-3 .figure {
    left: 65px;
    top: 25px;
  }
  #product-4 {
    flex: 82%;
    margin-left: 18%;
    margin-bottom: 30px;
  }
  #product-4 img {
    width: 130%;
  }
  #product-4 .figure {
    width: 78%;
    left: -60px;
    top: 30px;
  }
  #product-5 {
    padding-top: 0px;
    flex: 70%;
  }
  #product-5 .figure {
    left: 65px;
    top: 28px;
  }
  #product-6 {
    flex: 70%;
    margin-left: 30%;
    padding-top: 25px;
  }
  #product-6 .figure {
    left: -61px;
    top: 33px;
  }
  .sec3 {
    margin-top: 18%;
    z-index: 9;
  }
  .sec3 .txt{
    margin-top: 0px;
  }
  .sec3 .page .maintitle .pic-box1 {
    display: flex;
    flex-direction: column;
  }
  .sec3 .page .maintitle .pic-box1 picture img {
    width: 94%;
    margin-top: 0px;
  }
  .sec3 .page .maintitle .pic-box1 .pic-right img {
    margin-top: 20px;
  }
  .sec3 .page .maintitle .btnbox {
    width: 74%;
    margin-left: 10%;
  }
  .sec3-item1 img {
    width: 85%;
  }
  .sec3 .page .phone .tphone {
    width: 110%;
    margin-left: 10%;
    margin-bottom: 20%;
  }
  .sec3 .page .phone .bg {
    top: -20%;
    left: -20%;
  }
  .sec3 .pic-box1 {
    width: 100%;
    margin-left: 0%;
  }
  .sec3 .pic-box1 .pic-right img {
    margin-left: 0px;
  }
  .sec3 .pic-box1 .pic-left{
    width: 100%;
  }
  .sec3 .pic-box1 .pic-right{
    width: 100%;
  }
  .sec4 {
    margin-top: 10%;
    z-index: 1;
  }
  .sec4-item2{
    margin-top: -10px;
  }
  .sec4 .page .phone .tphone {
    bottom: 20px;
    width: 63%;
    margin-left: 30%;
    margin-bottom: 20%;
  }
  .sec4 .page .maintitle .btnbox {
    width: 92%;
    margin: 4%;
    margin-bottom: 4%;
    margin-top: 7%;
  }
  .sec4-item1 img {
    width: 78%;
  }
  .sec4 .page .phone .bg{
    width: 140%;
    top: -31%;
    left: -18%;
  }
  .sec .txt a {
    font-size: 14px;
    font-weight: 900;
  }
  .sec4 .txt{
    margin-top: 0;
  }
  .sec4-item3 {
    width: 88%;
    margin-left: 7%;
  }
  .sec5 .page .maintitle .bg .txt {
    display: block;
    text-align: center;
    font-size: 6px;
    font-weight: 900;
  }
  .sec5-item2 {
    width: 100%;
    margin-left: 0%;
  }
  .sec5 .page .maintitle .bg .btnbox {
    width: 80%;
    margin-left: 10%;
  }
  .sec5 .page .phone .tphone {
    width: 130%;
    margin-left: -10%;
  }
  .sec5 .page .phone .bg {
    top: -40%;
    left: -110%;
    width: 280%;
  }
  .sec5-item1 img {
    width: 88%;
    margin-left: 2%;
  }
  .sec6 .page .phone .tphone {
    width: 175%;
    margin-left: -18%;
  }
  .sec6-2 .page .phone .tphone {
    width: 165%;
    margin-left: 0%;
  }
  .sec6 .sec6-item1 {
    width: 85%;
  }
  .sec6 .sec6-item2{
    margin-top: 12%;
  }
  .sec6-2 .sec6-item1 {
    width: 65%;
  }
  .sec6-2 .sec6-item2 {
    width: 70%;
      margin-left: 3%;
      margin-top: 25%
  }
  .sec6-2 .page .phone .bg {
    left: -34%;
    top: -41%;
    width: 205%;
    display: block;
  }
  .sec6 .sec6-item3 {
    width: 94%;
    margin-left: 3%;
  }
  .sec6-2 .sec6-item3 {
    width: 84%;
    margin-left: 8%;
    margin-bottom: 1%;
  }
  .sec6-2 .btnbox .bt3{
    width: 40%;
  }
    
  .sec6 .page .maintitle .btnbox {
    /* margin-top: 8%; */
    width: 100%;
    margin-left: 0;
  }
  .sec6-2 .page .maintitle .btnbox {
    /* margin-top: 8%; */
    width: 100%;
    margin-left: 0;
  }
  
  .sec6 .txt {
    margin-bottom: 50px;
    margin-top: 0;
    /* padding-top: 0px; */
  }
  .sec7 .title, .sec8 .title, .sec9 .title {
    margin-bottom: 20px;
    width: 50%;
    font-size: 22px;
    padding-top: 12px;
  }
  .sec7 .container .swiper-container.gallery-txt .swiper-wrapper .swiper-slide-active {
    font-size: 15px;
  }
  .sec7 iframe {
    width: 350px;
    height: 170px;
  }
  .sec7 .arrow-right {
    top: 75px;
  }
  .sec7 .arrow-left {
    top: 75px;
  }
  .sec7 .carousel-inner {
    padding-bottom: 45px;
  }
  .sec7 .carousel-inner h3 {
    font-size: 0.5rem;
  }
  .sec7 .carousel-indicators {
    bottom: 65px;
  }
  .sec8 .box {
    width: 46.5%;
  }
  .group1 .box3 {
    display: none;
  }
  .group2 .box1, .group2 .box2 {
    display: none;
  }
  .sec9 .title {
    top: -15px;
  }
  .se9-line {
    display: none;
  }
  .sec9-tag {
    margin-bottom: -30px;
  }
  .sec9 .bg{
    top: 89%;
  }
  .sec10 .title {
    border: #fd1ffe solid 3px;
    width: 65%;
    font-size: 12px;
    padding: 2px;
    padding-top: 3px;
    top: -12px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .sec10 .content p {
    font-size: 11px;
    font-weight: 600;
  }
  /* .sec10 .content {
    margin-left: 5%;
    margin-right: 5%;
  } */
  .sec8 .page .box_group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  
  .sec9 .flexBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .sec9 .flexBlock .store {
    width: 90%;
    margin-left: 5%;
    max-width: 650px;
    border-radius: 15px 15px 15px 15px;
  }
  .sec9-mt-3{
    margin-top: -100px;
  }
  .sec9 .flexBlock .store:first-child {
    margin-right: 0;
    margin-bottom: 60px
  }
  .sec9 .flexBlock .store .cont .btnbox {
    position: relative;
    width: 45%;
    bottom: 35px;
  }
  .se9-line2 {
    width: 75%;
    border-bottom: 2px solid #7b4196;
    opacity: 0.5;
  }
  .sec9 .flexBlock .store .cont p {
    padding: 0 3.5%
  }
  .sec9 .flexBlock .store .cont li, .sec9 .flexBlock .store .cont p {
    line-height: 1.2;
    font-size: 10px;
  }
  .sec9 .flexBlock .store .cont p {
    font-size: 3.5vw;
    font-weight: bold
  }
  .sec9 .flexBlock .store .cont ul {
    padding-right: 5vw
  }
  .sec9 .flexBlock .store .cont li {
    font-size: 3.5vw;
    font-weight: bold
  }
  .sec9 .flexBlock .store .cont small {
    font-size: 3vw;
    padding-left: 7vw
  }
}

@media screen and (max-width:415px) {
  .sec .txt a {
    font-size: 11px;
    font-weight: 900;
  }
  .sec7 iframe {
    width: 280px;
    height: 150px;
  }
  .sec7 .arrow-right {
    top: 65px;
  }
  .sec7 .arrow-left {
    top: 65px;
  }
  .sec .btnbox .bt1 {
    width: 85px;
  }
  .sec7 .carousel-caption {
    bottom: -55px;
  }
  .sec5 .page .maintitle .bg .txt {
    margin-top: 0px;
  }
  .sec7 .title, .sec8 .title, .sec9 .title {
    width: 35%;
    border: #fd1ffe solid 3px ;
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .sec8 .title{
    width: 45%;
  }
  .sec9 .title{
    width: 50%;
    margin-left: 25%;
  }
  .sec8 .page .box_group .box .btnbox{
    margin-top: 0px;
  }
  .sec .btnbox .bt4{
    width: 84%;
    margin: 0% 8%;
  }
  .sec8 .page .bg{
    width: 90%;
    top: 53%;
    left: -57%;
  }
  .sec9{
    margin-bottom: 0;
  }
}

@media screen and (max-width:376px) {
  #product-1 .figure{
    left: 58px;
  }
  #product-2 .figure{
    left: -53px;
  }
  #product-3 .figure{
    left: 55px;
  }
  #product-4 .figure{
    left: -53px;
  }
  #product-5 .figure{
    left: 57px;
  }
  #product-6 .figure{
    left: -54px;
  }
  .sec3-item1 img{
    width: 80%;
  }
  .sec3 .page .phone .tphone{
    width: 125%;
  }
  .sec3 .page .phone .bg{
    width: 180%;
    top: -10%;
    left: 0;
  }
}